<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Long Press Method</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The Long Press Method allows you to tap and hold on any part of the screen to bring up the Gesturizer window, and immediately start drawing without raising your finger.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>GRLongPressEnabled</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.gesturizer</string>
			<key>PostNotification</key>
			<string>org.thebigboss.gesturizer.settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Minimum Press Duration</string>
			<key>footerText</key>
			<string>A longer duration ensures that you don&apos;t accidentally activate Gesturizer via this method.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.4</real>
			<key>max</key>
			<real>1.2</real>
			<key>key</key>
			<string>GRLongPressMinDuration</string>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>org.thebigboss.gesturizer</string>
			<key>PostNotification</key>
			<string>org.thebigboss.gesturizer.settings</string>
		</dict>
	</array>
</dict>
</plist>
